.infoContainer {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
}

.coinStats {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
}

.coinStatsName {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.stats.lift {
  color: #0e9b71;
}

.stats.missed {
  color: #dc4f68;
}

.coinValueStatisticsHeading p {
  font-size: 1rem;
  opacity: 0.9;
}

a:hover * {
  text-decoration: underline;
}
