.newsWrapp {
  padding: 20px;
}

.newsList {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.newsItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  height: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.image {
  display: block;
  margin: 0 auto 20px;
  width: 224px;
  height: 150px;
}

.cardTitle {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.cardBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.newsItem:hover {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.search {
  margin: 20px 0;
}

.date,
.source {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.loadContainer {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.loadTitle {
  color: #333;
}

@media (max-width: 1024px) {
  .newsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .newsList {
    grid-template-columns: 1fr;
  }
}
